body{
    padding: 10px 0 0 0 ;
    text-align: center;
    background: linear-gradient(to right, #403f3f 0%, #000000 100%)
}
h1{
    color: #fff6fb;
    font-size: 40px;
    margin-bottom: 20px;
}
p{
  height: 0px;
  border:1px #fff6fb solid ;
  width: 20%;
  margin: 0 40% 0 40%;
  color: #ffffff;
  font-size: 40px;
  vertical-align:top ;
}
ul{
  font-size: 15px;
  color: #ffffff;
  margin-top: 70px;
}
li{
  margin-top: 10px;
}
button {
  display: flex;
  height: 3em;
  width: 8%;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: #fff;
  margin-top: 200px;
  margin-left: 46%;
 }
 
 button > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
 }
 
 button:hover > svg {
  font-size: 1.2em;
  transform: translateX(-5px);
 }
 
 button:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
  transform: translateY(-2px);
 }